

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=105519826206949&amp;xfbml=1"></script><fb:login-button event_app_id="105519826206949" width="400" height="500"></fb:login-button>
<br/><br/>

<%= session[:user].inspect %>
<br/><br/>

<%= link_to 'test', @access_token_url %>
<br/><br/>
<%= @access_token_url %>


<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="www.triquilha.com.br/" send="true" width="450" show_faces="true" font=""></fb:like>


<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:recommendations site="www.triquilha.com.br","www.google.com.br" width="300" height="300" header="true" font="arial" border_color=""></fb:recommendations>


<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:facepile href="www.triquilha.com.br" width="200" max_rows="5"></fb:facepile>


<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=105519826206949&amp;xfbml=1"></script><fb:live-stream event_app_id="105519826206949" width="400" height="500" xid="" always_post_to_friends="true"></fb:live-stream>





<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>

