<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<%= @param.inspect %>


<p>

<form method='post' action='https://www.moip.com.br/Process.do'>
<input type='hidden' name='method' value='digitalsale'/>
<input type='hidden' name='eproduct_id' value='27039'/>
<input type='hidden' name='type' value='1'/>
<input type='image' name='submit' src='https://www.moip.com.br/imgs/buttons/bt_comprar_c01_e04.png' alt='curso 1' border='0' />
</form>
</p>

