<h1>Face#index</h1>
<p>Find me in app/views/face/index.html.erb</p>

<p><%= @oauth.inspect %></p>
<p><% %></p>


<%= link_to 'facebook', 'https://www.facebook.com/dialog/oauth?
     client_id=105519826206949&redirect_uri=http://localhost:3000/face/index&scope=manage_pages&
     response_type=token'%>

